<nav class="navbar is-transparent ">
  <div class="navbar-brand">
    <a class="navbar-item" href="<%= products_path %>">
      <%= image_tag("lbc-logo-line-banner.png", size: "300x28" )%>
    </a>
    <div class="navbar-burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <% if user_signed_in? && current_user.admin?%>
              <%= link_to "Ajouter un Produit", new_product_path, class: "bd-tw-button button"%>
            <% end%>
          </p>
          <p class="control">
            <% if user_signed_in? && current_user.admin?%>
              <%= link_to "Toutes les Commandes", orders_path, class: "bd-tw-button button"%>
            <% end%>
          </p>
          <p class="control">
           <% if @current_cart.present? %>
              <%= link_to cart_path(@current_cart), class: "button is-primary" do %>
                <i class="fas fa-shopping-cart"></i>
              <% end %>
            <% end %>
          </p>
          <p class="control">
            <%= link_to contact_path, class: "button is-primary" do %>
              <i class="fas fa-envelope"></i>
            <% end %>
          </p>
          <p class="control">
            <% if user_signed_in? %>
              <a class="button is-warning has-text-white" <%= link_to "Déconnexion", destroy_user_session_path, method: :delete %>
              </a>
            <% else %>
              <a class="button is-primary" href="<%= new_user_session_path %>">
                <span class="icon">
                  <i class="far fa-user"></i>
                </span>
                <span>Connexion</span>
              </a>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>
