<h2>Toutes les commandes</h2>

<% @orders.each do |order| %>
  <%# <%= link_to "Envoyer Email de Confirmation de commande", order_confirmation_path(order), class: "button is-primary" %> 
  <p>Nom: <%= order.name %></p>
  <p>Email: <%= order.email %></p>
  <p>Adresse: <%= order.address %> </p>
  <p>Produits: </p>

  <% order.line_items.each do |item| %>
  <li><%= item.quantity %> x <%= item.product.name %></li>
  <% end %>
<% end %>
