<div class="container content box">
  <%= simple_form_for(@order) do |f| %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name, required: true, autofocus: true %>
    </p>
      <p>
      <%= f.label :email %><br>
      <%= f.text_field :email, required: true, autofocus: true %>
    </p>
    <p>
      <%= f.label :address %><br>
      <%= f.text_area :address %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end%>
</div>
