<h1>Votre Commande a bien été enregistrée, un email de confirmation vous sera bientôt envoyé</h1>

<%= @order.name %>
<%= @order.address %>
<% @order.line_items.each do |item| %>
  <%= item.quantity %> x <%= item.product.name %> // <%= number_to_euro(item.product.price) %>
<% end %>

<%= @order.sub_total %>
