<div class="order-page">
  <div class="container">
    <div class="receipt">
      <h2 class="receipt__title">Merci <i><%= @order.name %></i> !</h2>
      <p class="receipt__subtitle"><%= @order.address %></p>
      <p class="receipt__subtitle mt-6">Votre Commande a bien été enregistrée, un email de confirmation vous sera bientôt envoyé:</p>
      <ul class="receipt__lines">
      <% @order.line_items.each do |item| %>
        <li class="receipt__line">
          <span class="receipt__line__item"><%= item.quantity %> x <%= item.product.name %></span>
          <span class="receipt__line__price"><%= number_to_euro(item.product.price) %></span>
        </li>
      <% end %>
      </ul>
      <p class="receipt__total">
        <span class="receipt__total__item">Total</span>
        <span class="receipt__total__price"><%= @order.sub_total %></span>
      </p>
      <p class="receipt__back">
        <a href="<%= root_path %>">Retour à la boutique</a>
      </p>
    </div>
  </div>
</div>
