<section class="hero is-fullheight">
  <div class="hero-body white-color">
    <div class="container has-text-centered">
      <div class="columns is-8 is-variable ">
        <div class="column is-two-thirds has-text-left">
          <h1 class="title is-1">Panier</h1>
            <% @cart.line_items.each do |line_item| %>
              Article:
              <%= line_item.product.name %><br>
              Quantité: <%= line_item.quantity %> <br>
              Prix à l'unité: <%= number_to_euro(line_item.product.price) %> <br>

              <%= link_to "+ 1", line_item_add_path(:id => line_item), method: :post %>
              <%= link_to "- 1", line_item_reduce_path(:id => line_item), method: :post %>
              <%= link_to "Supprimer", line_item_path(line_item), method: :delete %>
              <br>
              <br>
            <% end %>

            <h3>Total: <%= number_to_euro(@cart.sub_total) %></h3>

            <div class="field is-grouped columns container has-text-center"></div>
            </div>
        </div>
        <div class="column is-one-third has-text-left">
          <div class="control">
            <%= link_to "Valider Panier", new_order_path, class: "button is-link is-fullwidth has-text-weight-medium is-medium mb-4"%>
          </div>
          <p class="has-text-centered">
            <%= link_to "Vider Panier", cart_path(@current_cart), method: :delete, data: {confirm: "Etes-vous sûr compagnons?"}, class: 'button cart-button is-danger is-outlined' %>
            <%= link_to "Retour aux Produits", root_path, class: 'button cart-button is-outlined' %>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
