<section class="section">
  <div class="container">
    <div class="columns is-centered is-multiline is-full-mobile">

      <% @products.each do |product| %>
        <div class="column is-centered">
          <div class="property-card">
            <a href="#">
          <%= link_to product_path(product), :action => 'get' do %>
              <div class="property-image">
                <div class="property-image-title">
                  <h5><%= product.name.capitalize%></h5>
                </div>
              </div>
            </a>

            <div class="property-description">
              <h5> <%= product.name.capitalize%> <%= number_to_euro(product.price) %></h5>
              <p><%= product.description %></p>
            </div>
            <div class="property-social-icons">
            <%= link_to line_items_path(product_id: product.id), method: :create do %>
              <i class="fas fa-plus"></i>
            <% end %>
            </div>
          <% end %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</section>
