<div class="container-fluid">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col mt-5">
        <div class="cardindex center">
          <div class="property-card">
            <a href="#">
              <div class="property-image">
                <div class="property-image-title">
                  <h5><%= product.name.capitalize%></h5>
                </div>
              </div>
            </a>
            <div class="property-description">
              <h5> <%= product.name.capitalize%><%= product.price %>€</h5>
              <p><%= product.description %></p>
            </div>
            <a href="#">
              <%= button_to "Add to cart", line_items_path(:product_id => product.id) %>
              <div class="property-social-icons">
              <i class="fas fa-cart-plus"></i>
              </div>
            </a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
