<p><%= @product.name %> // <%= number_to_euro(@product.price) %></p>
<p>
<% if user_signed_in? && current_user.admin? %>
  <%= link_to "Modifier", edit_product_path(@product) %> |
  <%= link_to "Supprimer", product_path(@product), method: :delete, data: {confirm: "Etes vous sûr compagnon ?"} %>
<% end %>

  <%= button_to "Ajouter au panier", line_items_path(product_id: @product.id), class: "button is-primary" %>
</p>
